html{
  background: #F2EEE1;
}

body, input, select, textarea {
  color: #222;
  font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", STHeiti, "WenQuanYi Micro Hei", SimSun, sans-serif;
  line-height: 30px;
  /* font-size: 18px; */
}

button {
  color: #3673a5;
}

button:hover {
  color: #111111;
}

p {
  margin: 0 0 1.5em 0;
}

blockquote {
  color: #6f6f6f;
  border-left: 2px solid #1abc9c;
}

.content a {
  color: #3673a5;
  box-shadow: none;
}

a {
  color: #3673a5;

}
a:hover {
  color: #111111;
}

#TableOfContents {
  font-size: .8em;

}

.posts-group .post-item {
  border-bottom: 1px solid rgba(125,125,125,0.5);
}

