html{
  background: #F2EEE1;
}

body, input, select, textarea {
  color: #222;
  /* font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", STHeiti, "WenQuanYi Micro Hei", SimSun, sans-serif; */
  font-family: "PingFang SC","Microsoft YaHei",Roboto,Helvetica,Tahoma,Arial,"Hiragino Sans GB","Noto Sans CJK","WenQuanYi Micro Hei",sans-serif;

  line-height: 30px;
  /* font-size: 18px; */
}

button {
  color: #3673a5;
}

button:hover {
  color: #111111;
}

p {
  margin: 0 0 1.5em 0;
}

blockquote {
  color: #6f6f6f;
  border-left: 2px solid #1abc9c;
}

.content a {
  color: #3673a5;
  box-shadow: none;
}

a {
  color: #3673a5;

}
a:hover {
  color: #111111;
}

#TableOfContents {
  font-size: .8em;

}

.posts-group .post-item {
  border-bottom: 1px solid rgba(125,125,125,0.5);
}


@font-face{
    font-family: 'JetBrains Mono';
    src: url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-Regular.woff2') format('woff2'),
         url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/ttf/JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
